<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id='app'>
    <ol>
        <li v-for="book in books">
            {{book.name}}
        </li>
    </ol>
    <ul>
        <li v-for="(food,index) in foods">
            {{index}}---{{food}}---{{delicious}}
        </li>
    </ul>
    <ul>
        <li v-for="(value,key,index) in object">
            {{index}}·{{key}}·{{value}}
        </li>
    </ul>
    <div>
        <span v-for="n in 10" style="margin-left: 5px;">{{n}}</span>
    </div>
    <span v-for="n in evenNumbers" style="margin-left: 5px;">{{n}}</span>
    <span v-for="n in odd(counts)" style="margin-left: 5px;">{{n}}</span>
</div>


<script>
    var app = new Vue({
        el:'#app',
        data:{
            delicious:'delicious',
            books:[
                {name:'HongLouMeng'},
                {name:'SanGuo'}
            ],
            foods:[
                'tomato',
                'potato',
                'ice cream'
            ],
            object:{
                name:'lilei',
                age:'18'
            },
            numbers:[1,2,3,4,5,6,7,8,9,10],
            counts:[1,2,3,4,5]
        },
        computed:{
            evenNumbers:function () {
                return this.numbers.filter(function (number) {
                    return number%2 === 0;
                })
            }
        },
        methods:{
            odd:function (counts) {
                return counts.filter(function (count) {
                    return count%2 === 1;
                })
            }
        }
    })
</script>
</body>
</html>