<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id='app'>
    <p v-if="ok">Hello vue!</p>
    <p v-else>你好Vue!</p>
    <template v-if="motto">
        <h1>Steve Jobs</h1>
        <p>motto:stay hungry ! stay foolish</p>
    </template>
    <p v-show="ok">Show Me</p>
</div>


<script>
    var app = new Vue({
        el:'#app',
        data:{
            ok:true,
            motto:true
        }
    })
</script>
</body>
</html>